---
import laravelIcon from "../assets/icons/laravel-icon.svg";
import nestIcon from "../assets/icons/nestjs-icon.svg";
import dockerIcon from "../assets/icons/docker-icon.svg";
import figmaIcon from "../assets/icons/figma-icon.svg";
import gitIcon from "../assets/icons/git-icon.svg";
import githubIcon from "../assets/icons/github-icon.svg";
import grafanaIcon from "../assets/icons/grafana-icon.svg";
import helmIcon from "../assets/icons/helm-icon.svg";
import htmlIcon from "../assets/icons/html-icon.svg";
import javascriptIcon from "../assets/icons/javascript-icon.svg";
import keycloakIcon from "../assets/icons/keycloak-icon.svg";
import kubernetesIcon from "../assets/icons/kubernetes-icon.svg";
import mysqlIcon from "../assets/icons/mysql-icon.svg";
import nodejsIcon from "../assets/icons/nodejs-icon.svg";
import nuxtIcon from "../assets/icons/nuxt-icon.svg";
import phpIcon from "../assets/icons/php-icon.svg";
import postgresqlIcon from "../assets/icons/postgresql-icon.svg";
import tailwindIcon from "../assets/icons/tailwind-icon.svg";
import typescriptIcon from "../assets/icons/typescript-icon.svg";
import vscodeIcon from "../assets/icons/vscode-icon.svg";
import vueIcon from "../assets/icons/vue-icon.svg";

import Tool from "./ToolItem.astro";
---

<div class="flex flex-wrap gap-1">
  <Tool>
    <img src={vueIcon.src} alt="VueJS" class="size-9" />
  </Tool>
  <Tool>
    <img src={vscodeIcon.src} alt="VSCode" class="size-9" />
  </Tool>
  <Tool>
    <img src={typescriptIcon.src} alt="Typescript" class="size-9" />
  </Tool>
  <Tool>
    <img src={tailwindIcon.src} alt="Tailwind" class="size-9" />
  </Tool>
  <Tool>
    <img src={phpIcon.src} alt="PHP" class="size-9" />
  </Tool>
  <Tool>
    <img src={nuxtIcon.src} alt="NuxtJS" class="size-9" />
  </Tool>
  <Tool>
    <img src={nodejsIcon.src} alt="NodeJS" class="size-9" />
  </Tool>
  <Tool>
    <img src={postgresqlIcon.src} alt="PostgreSQL" class="size-9" />
  </Tool>
  <Tool>
    <img src={mysqlIcon.src} alt="MySQL" class="size-9" />
  </Tool>
  <Tool>
    <img src={kubernetesIcon.src} alt="Kubernetes" class="size-9" />
  </Tool>
  <Tool>
    <img src={keycloakIcon.src} alt="Keycloak" class="size-9" />
  </Tool>
  <Tool>
    <img src={javascriptIcon.src} alt="Javascript" class="size-9" />
  </Tool>
  <Tool>
    <img src={htmlIcon.src} alt="Html" class="size-9" />
  </Tool>
  <Tool>
    <img src={helmIcon.src} alt="Helm" class="size-9" />
  </Tool>
  <Tool>
    <img src={grafanaIcon.src} alt="Grafana" class="size-9" />
  </Tool>
  <Tool>
    <img src={githubIcon.src} alt="Github" class="size-9" />
  </Tool>
  <Tool>
    <img src={gitIcon.src} alt="Git" class="size-9" />
  </Tool>
  <Tool>
    <img src={figmaIcon.src} alt="Figma" class="size-9" />
  </Tool>
  <Tool>
    <img src={dockerIcon.src} alt="Docker" class="size-9" />
  </Tool>
  <Tool>
    <img src={laravelIcon.src} alt="Laravel" class="size-9" />
  </Tool>
  <Tool>
    <img src={nestIcon.src} alt="NestJS" class="size-9" />
  </Tool>
</div>
